<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
                            
                            <!-- CLIENTE -->
                              <bean id = "clienteDAO" class = "modelo.ClienteDao">
                            <property name="jdbcTemplate" ref="jdbcTemplate" />
                            </bean>
                            <!-- LIBRO -->
                            <bean id="libroDAO" class="modelo.LibroDao">
                            <property name="jdbcTemplate" ref="jdbcTemplate" />
                            </bean>
                            
                            <!-- PRESTAMO -->
					        <bean id="prestamoDAO" class= "modelo.PrestamoDao">
					         <property name="jdbcTemplate" ref="jdbcTemplate" />
					  		 </bean>    
					  		 
					  		 <!-- AUTOR -->
                            <bean id="autorDAO" class="modelo.AutorDao">
                              <property name="jdbcTemplate" ref="jdbcTemplate" />
                            </bean>
                            
                            <!-- EMPLEADO -->
                            <bean id="empleadoDAO" class="modelo.EmpleadoDao">
                              <property name="jdbcTemplate" ref="jdbcTemplate" />
                            </bean>
                            
                              <!-- FUENTE DE DATOS -->
                            <bean id="jdbcTemplate"
							class="org.springframework.jdbc.core.JdbcTemplate">
							<constructor-arg ref="dataSource" />
						</bean>
					
						<bean id="dataSource"
								class="org.springframework.jdbc.datasource.DriverManagerDataSource">
								<property name="driverClassName"
								value="com.mysql.jdbc.Driver" />
					<!-- OJO AQUÍ, QUE ESTO DEL COPY PASTE SI HAY QUE CAMBIARLO, CON EL NOMBRE DE TU BBDD -->
							<property name="url"
							value="jdbc:mysql://localhost:3306/BBiblioteca" />
							<property name="username" value="root" />
							<property name="password" value="" />
						</bean>
					
						<tx:annotation-driven
							transaction-manager="transactionManager" proxy-target-class="true" />
						<bean id="transactionManager"
							class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
							<property name="dataSource" ref="dataSource" />
						</bean>
						
					   					                            
					                            
                            
                            </beans>